In [ ]:
Exercise1:

In [4]:
print("Hello, Python!")

Hello, Python!

In [ ]:
Exercise2:

In [6]:
a = 10 
b = 5   

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)

Sum: 15
Difference: 5
Product: 50
Quotient: 2.0

In [ ]:
Exercise3:

In [8]:
name = "Xinyu Cui"  
print(f"Hello, {name}!")

Hello, Xinyu Cui!

In [ ]:
Exercise4:

In [10]:
universities = ["Harvard", "Stanford", "MIT", "Oxford", "Cambridge"]

print("List of Universities:", universities)

print("First University:", universities[0])
print("Last University:", universities[-1])

List of Universities: ['Harvard', 'Stanford', 'MIT', 'Oxford', 'Cambridge']
First University: Harvard
Last University: Cambridge

In [ ]:
Exercise5:

In [12]:
student = {
    "name": "Xinyu Cui", 
    "age": 20,          
    "grade": "A"         
}
for key, value in student.items():
    print(f"{key}: {value}")

name: Xinyu Cui
age: 20
grade: A

In [ ]:
Exercise6:

In [14]:
coordinates = (10, 20)  
print("Coordinates:", coordinates)
print("x-coordinate:", coordinates[0])
print("y-coordinate:", coordinates[1])

Coordinates: (10, 20)
x-coordinate: 10
y-coordinate: 20

In [ ]:
Exercise7:

In [16]:
colors = {"red", "green", "blue"}
colors.add("yellow")
colors.add("red")  
print("Colors set:", colors)

colors.remove("green")

print("Colors set after removal:", colors)
light_colors = {"white", "yellow", "pink"}
merged_colors = colors.union(light_colors)

print("Merged set:", merged_colors)

Colors set: {'blue', 'green', 'yellow', 'red'}
Colors set after removal: {'blue', 'yellow', 'red'}
Merged set: {'blue', 'red', 'white', 'yellow', 'pink'}

In [ ]:
Exercise8:

In [18]:
number = float(input("Enter a number: "))  

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number:  3

The number is positive.

In [ ]:
Exercise9:

In [20]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [ ]:
Exercise10:

In [22]:
i = 1

while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
Exercise11:

In [24]:
grade = input("Enter a grade (A, B, C, D, or F): ").upper() 

match grade:
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("Invalid grade entered. Please enter A, B, C, D, or F.")

Enter a grade (A, B, C, D, or F):  A

Excellent!

In [ ]:
Exercise12:

In [28]:
def greet(name):
    print(f"Hello, {name}!")
greet("Xinyu Cui")

Hello, Xinyu Cui!

In [ ]:
Exercise13:

In [30]:
def square(number):
    return number * number

print("Square of 2:", square(2))
print("Square of 5:", square(5))
print("Square of 10:", square(10))

Square of 2: 4
Square of 5: 25
Square of 10: 100

In [ ]:
Exercise14:

In [32]:
def multiply(a, b=1):
    return a * b

print("Multiplying 5 and 3:", multiply(5, 3)) 
print("Multiplying 7 (default for b is used):", multiply(7))

Multiplying 5 and 3: 15
Multiplying 7 (default for b is used): 7

In [ ]:
Exercise15:

In [34]:
numbers = list(range(1, 11))  # List of numbers from 1 to 10
squares = [number ** 2 for number in numbers]

print("Squares of numbers from 1 to 10:", squares)

Squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
Exercise16:

In [36]:
students_grades = {
    "Alice": [85, 90, 88],
    "Bob": [78, 81, 74],
    "Charlie": [92, 87, 93]
}
def print_average_grades(grades_dict):
    for student, grades in grades_dict.items():
        average = sum(grades) / len(grades)
        print(f"{student}'s average grade: {average:.2f}")

print_average_grades(students_grades)

Alice's average grade: 87.67
Bob's average grade: 77.67
Charlie's average grade: 90.67

In [ ]:
Exercise17:

In [38]:
def calculate(num1, num2, operator):
    if operator == "+":
        return num1 + num2
    elif operator == "-":
        return num1 - num2
    elif operator == "*":
        return num1 * num2
    elif operator == "/":
        return num1 / num2
    else:
        return "Invalid operator"

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter an operator (+, -, *, /): ")

result = calculate(num1, num2, operator)
print(f"The result of {num1} {operator} {num2} is: {result}")

Enter the first number:  1
Enter the second number:  3
Enter an operator (+, -, *, /):  +

The result of 1.0 + 3.0 is: 4.0